
services:
  postgres:
    image: postgres:15
    container_name: study_management_db
    environment:
      POSTGRES_DB: subjectdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: study_management_app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DATASOURCE_URL: jdbc:postgresql://postgres:5432/subjectdb
      DB_USERNAME: postgres
      DB_PASSWORD: 123456
      SPRING_PROFILES_ACTIVE: prod
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8080:8080"

  redis:
    image: redis:7.2
    container_name: study_management_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-server --version || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: